.todo-list {
   display: flex; 
   flex-flow: row wrap; 
   justify-content: center;
   align-items: center;
}
p {
  line-height: 2;
}

md-card {
  margin: 1em;
  width: 500px;
  padding-bottom: 0;
}

button {
  margin: 0 0.5em;
}

[md-fab] i, [md-fab] md-icon {
  padding: 8px 0;
}

.episode {
  color: #039BE5;
}