<li *ngFor="let show of shows">
  <img src="http://thetvdb.com/banners/{{show.detail.banner}}" />
  <p>{{show.detail.seriesName}}, episode: {{show.episode.airedEpisodeNumber}},
    <span *ngIf="!isWatched(show) && show.todo.watchedEpisode">
      watched: Season: {{show.todo.watchedEpisode[0]}} Episode: {{show.todo.watchedEpisode[1]}}
      </span>
    <span *ngIf="show.episode.nextEpisode">
        next episode: {{show.episode.nextEpisode.firstAired}}
      </span>
    <button (click)="remove.emit(show)">remove</button>
    <button *ngIf="!isWatched(show)" (click)="complete.emit(show)">complete</button>
    <button *ngIf="isWatched(show)" (click)="unComplete.emit(show)">undo</button>
  </p>
</li>