<div class="todo-list">
  <md-card *ngFor="let show of shows">
    <md-card-heder>
      <md-card-title>{{show.detail.seriesName}}</md-card-title>
    </md-card-heder>
    <img md-card-image src="http://thetvdb.com/banners/{{show.detail.banner}}"/>
    <md-card-content>
      <p>
        Newest:
        <span class="episode">Episode {{show.episode.airedEpisodeNumber}}</span>
        of Season {{show.episode.airedSeason}}
      </p>
      <p *ngIf="!isWatched(show) && show.todo.watchedEpisode && show.todo.watchedEpisode[0]">
        Watched: Episode {{show.todo.watchedEpisode[1]}} of Season {{show.todo.watchedEpisode[0]}}
      </p>
      <p *ngIf="show.episode.nextEpisode">
        Next episode {{nextEpisodeTime(show).time}}{{nextEpisodeTime(show).date}}
      </p>
      <p *ngIf="!show.episode.nextEpisode">
        next episode information is unavailable
      </p>
      <md-card-actions align="end">
        <button md-fab class="md-mini md-warn" (click)="remove.emit(show)">
          <md-icon class="md-24">close</md-icon>
        </button>
        <button md-fab class="md-mini md-primary" *ngIf="!isWatched(show)" (click)="complete.emit(show)">
          <md-icon class="md-24">check</md-icon>
        </button>
        <button md-button *ngIf="isWatched(show)" (click)="unComplete.emit(show)">
          watched
        </button>
      </md-card-actions>
    </md-card-content>
  </md-card>
</div>
