<!-- login -->
<login></login>
<div *ngIf="isLoggedIn()">
  <md-toolbar>
    <div class="controls">
      <!-- filters -->
      <div class="control">
        <filter-selector (orderChange)="onOrderChange($event)" (filterChange)="onFilterChange($event)">
        </filter-selector>
      </div>
      
      <!-- buttons -->
      <div class="control">
        <button md-raised-button color="primary" (click)="onSave()">save</button>
        
        <button md-mini-fab (click)="undo()">
          <md-icon class="md-24">undo</md-icon>
        </button>
        
        <button md-mini-fab (click)="redo()">
          <md-icon class="md-24">redo</md-icon>
        </button>
      </div>
    </div>
  </md-toolbar>

  <!-- Search -->
  <div class="control">
    <search (addShow)="addShow($event)"></search>
  </div>


  <show-list [shows]="todos$ | async" [isWatched]="isWatched" (unComplete)="unComplete($event)" (complete)="completeShow($event)"
    (remove)="deleteShow($event)">
  </show-list>
</div>