.controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.control {
  text-align: center;
  margin: 0.5em;
  display: flex;
  align-items: center;
}

.control button {
  margin: 8px;
}

search {
  width: 100%;
}