<h1>tv todo</h1>
<!-- login -->
<div class="">
  <login></login>
</div>

<div *ngIf="isLoggedIn()">
  <div class="">
    <!-- buttons -->
    <div class="">
      <button md-raised-button (click)="onSave()">save</button>
      <button md-raised-button (click)="undo()">undo</button>
      <button md-raised-button (click)="redo()">redo</button>
    </div>
    <!-- filters -->
    <div class="">
      <filter-selector (orderChange)="onOrderChange($event)" (filterChange)="onFilterChange($event)">
      </filter-selector>
    </div>
  </div>



  <search (addShow)="addShow($event)"></search>
  <show-list [shows]="todos$ | async" [isWatched]="isWatched" (unComplete)="unComplete($event)" (complete)="completeShow($event)"
    (remove)="deleteShow($event)">
  </show-list>
</div>